:root {
  font-family: Inter, system-ui, sans-serif;
  background-color: #242424;
  color: white;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.app {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
}

button {
  background-color: #646cff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #535bf2;
}

/* Сітка для карток */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки */
  gap: 10px;
  margin-top: 20px;
}

/* Картка */
.card {
  aspect-ratio: 3/4; 
  background-color: #3a3a3a;
  border: 2px solid #555;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}

.card:hover {
  border-color: #646cff;
}